@charset "UTF-8";
/*Apparition du menu*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@-webkit-keyframes itemsappear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes itemsappear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*IMPORT POLICE Shrikhand & Roboto*/
/*INTEGRATION POLICE */
* {
  font-family: Roboto, Arial, "Arial black", sans-serif;
}

.header__logo, .footer__logo, .container__header H2 {
  font-family: Shrikhand, Arial, "Arial black", sans-serif;
}

/*INTEGRATION BOX-SIZING*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/*FORMAT liens*/
a {
  text-decoration: none;
  cursor: pointer;
}

/*FORMAT liste à puce*/
li {
  list-style: none;
}

/*FORMAT titres H2*/
H2 {
  padding: 20px 0px;
}

.header {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px rgb(179, 179, 179);
          box-shadow: 0px 0px 10px rgb(179, 179, 179);
  position: relative; /*pour pouvoir voir l'ombre*/
}
.header__logo {
  text-align: center;
  margin: 0;
}

.header--withbackarrow__icon {
  font-size: 30px;
  color: black;
  -webkit-transform: translatey(38px);
      -ms-transform: translatey(38px);
          transform: translatey(38px);
}
.header--withbackarrow__img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn--validation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: -o-linear-gradient(top left, #FF79DA, #9356DC);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 200px;
  padding: 15px;
  color: white;
  font-size: 15px;
  -webkit-box-shadow: 0px 2px 10px rgb(179, 179, 179);
          box-shadow: 0px 2px 10px rgb(179, 179, 179);
}
.btn--validation:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 0px 2px 30px rgb(179, 179, 179);
          box-shadow: 0px 2px 30px rgb(179, 179, 179);
}

.command__btn {
  padding: 15px 50px 15px 50px;
}

.card__icon {
  font-size: 200%;
  padding-right: 10px;
}

/*Mise en forme Section Localisation*/
.local {
  background-color: #eeeded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
}
.local__icon {
  margin-right: 15px;
}
.local__text {
  font-weight: 500;
}

/*Mise en forme Section Explore*/
.explore {
  background-color: #f8f7f7;
  text-align: center;
  padding: 50px;
}
.explore__title {
  margin-bottom: 20px;
}
.explore__subtitle {
  margin-bottom: 40px;
  font-weight: 300;
}

/*Mise en forme Section Tuto*/
.tuto {
  padding: 30px;
}
.tuto__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tuto__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  background-color: #f8f7f7;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1803921569);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1803921569);
  padding: 20px;
  border-radius: 15px;
}
.tuto__step:active {
  background-color: rgb(252, 241, 252);
}
.tuto__nbr {
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tuto__icon {
  color: grey;
  -webkit-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
          transform: translateX(-15px);
}
.tuto__text {
  font-weight: 500;
}

/*Mise en forme Section Restaurants*/
.restaurants {
  background-color: #f8f7f7;
  padding: 30px;
}
.restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1803921569);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1803921569);
  margin: 2%;
  position: relative;
  background-color: white;
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0px 0px;
}
.card__badge {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: rgb(150, 193, 165);
  color: green;
  padding: 5px 10px;
  border-radius: 2px;
}
.card__footer {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}
.card__footer h3 {
  padding-bottom: 5Px;
}
.card .fa-heart {
  position: absolute;
  cursor: pointer;
  right: 20px;
  font-size: 30px;
}
.card .fa-solid {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: -o-linear-gradient(top left, #FF79DA, #9356DC);
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: 1;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}
.card .fa-solid:hover {
  opacity: 1;
}

/*ADAPTATION HOME PAGE SUR DESKTOP*/
@media all and (min-width: 1024px) {
  .tuto__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .card {
    width: 50%;
    max-width: 400px;
  }
  .restaurants__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.container-menu {
  background-color: #f8f7f7;
  border-radius: 30px 30px 0px 0px;
  padding: 30px 30px 10px 30px;
  margin-top: -60px;
  position: relative;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__header .fa-heart {
  position: absolute;
  cursor: pointer;
  right: 40px;
  font-size: 30px;
}
.container__header .fa-solid {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: -o-linear-gradient(top left, #FF79DA, #9356DC);
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: 1;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}
.container__header .fa-solid:hover {
  opacity: 1;
}

.menu__header {
  text-transform: uppercase;
  padding: 20px 0px 20px 0px;
  position: relative;
}
.menu__header ::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
  position: absolute;
  left: 0px;
  bottom: 10px;
}
.menu__item {
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1803921569);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1803921569);
  cursor: pointer;
  -webkit-animation: itemsappear 1s both;
          animation: itemsappear 1s both;
}
.menu__item:hover .menu-check {
  margin: 0;
}
.menu__item:hover .fa-check {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.menu__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #99E2D0;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1803921569);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1803921569);
  border-radius: 0px 10px 10px 0px;
  margin-right: -43px;
}
.menu__check .fa-check {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
}
.menu .delay-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.menu .delay-2 {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.menu .delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.menu .delay-4 {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.menu .delay-5 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.menu .delay-6 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.menu .delay-7 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.menu .delay-8 {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.menu .delay-9 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.menu .delay-10 {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
.menu__text, .menu__title, .menu__desc {
  white-space: nowrap; /*Met tout le texte sur une même ligne*/
  overflow: hidden; /*Cache le texte qui depasse*/
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; /*Rajoute "..." */
}
.menu__price {
  margin-left: 10px;
}
.menu__command {
  text-align: center;
  margin: 50px;
}

.footer {
  background-color: #353535;
  padding-bottom: 30px;
  padding-left: 30px;
}
.footer__logo {
  color: white;
  padding: 15px 0px;
  font-size: 20px;
}
.footer a {
  color: white;
  padding-right: 10px;
}
.footer__icon {
  color: white;
}
.footer__list {
  padding: 5px;
}
.footer__list:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */