.header {
    padding :20px;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
    position: relative; /*pour pouvoir voir l'ombre*/

    &__logo {
        text-align: center;
        margin: 0;
    }
}

.header--withbackarrow {
    &__icon {
        font-size: 30px;
        color: black;
        transform: translatey(38px);
    }
    &__img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}