.btn--validation {
    align-items: center;
    background: linear-gradient(to bottom right, $secondary-color,$primary-color);
    border-radius: 200px;
    padding:10px;
    color:white;
    font-size: 15px;
    box-shadow: 0px 2px 10px rgb(179, 179, 179);
    &:hover {
        box-shadow: 0px 2px 30px rgb(179, 179, 179);
        opacity: 0.8;

        }
}