/*Mise en forme bouton de validation rose*/
.btn--validation {
    background: $btn-color;
    border-radius: 200px;
    padding:15px;
    color:white;
    font-size: 15px;
    box-shadow: $btn-shadow;
    &:hover {
        @include btn-hover;
        }
}

/*Mise en forme bouton de commande menu*/
.command__btn {
    padding:15px 50px 15px 50px;
}
