.btn--validation {
    align-items: center;
    background: $btn-color;
    border-radius: 200px;
    padding:15px;
    color:white;
    font-size: 15px;
    box-shadow: $btn-shadow;
    &:hover {
        @include btn-hover;
        }
}

.command__btn {
    padding:15px 50px 15px 50px;
}

.card__icon {
    font-size: 200%;
    padding-right: 10px;
  }