/*Mise en forme Section Localisation*/
.local {
    background-color: $primary-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:18px;
    &__icon {
        margin-right: 15px;
    }
    &__text {
        font-weight: 500;
    }
}

/*Mise en forme Section Explore*/
.explore {
    background-color: $secondary-background-color;
    text-align: center;
    padding: 50px;
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        margin-bottom: 40px;
        font-weight: 300;
    }
}

/*Mise en forme Section Tuto*/
.tuto {
    padding:30px;
    &__steps {
        display: flex;
        flex-direction: column;
    }
    &__step {
        display: flex;
        align-items: center;
        margin:10px;
        background-color: $secondary-background-color;
        box-shadow: $card-shadow;
        padding:20px;
        border-radius:15px;
        &:active {
            background-color: rgb(252, 241, 252);
        }
    }
    &__nbr {
        transform: translateX(-30px);
        background-color: $primary-color;
        color: white;
        border-radius: 50%;
        width:20px;
        height:20px;
        font-size: 80%;
        display:flex;
        justify-content:center;
        align-items: center;
    }
    &__icon {
        color: grey;
        transform: translateX(-15px);
    }
    &__text {
        font-weight: 500;
    }
    
}

/*Mise en forme Section Restaurants*/
.restaurants {
    background-color: $secondary-background-color;
    padding:30px;
    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.card {
    width: 100%;
    height:250px;
    border-radius: 20px;
    box-shadow: $card-shadow;
    margin:2%;
    position: relative;
    background-color: white;
    &__img {
        object-fit: cover;
        width:100%;
        height: 70%;
        border-radius: 15px 15px 0px 0px;
    }
    &__badge {
        position: absolute;
        right: 15px;
        top: 10px;
        background-color: $badge-background-color;
        color: $badge-color;
        padding: 5px 10px;
        border-radius: 2px;
    }
    &__footer {
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        & h3 {
            padding-bottom: 5Px;
    }
    }
    &__icon {
        position: relative;
        cursor: pointer;
        &--empty {
            position: absolute;
            right: 20px;

        }
        &--full {
            position: absolute;
            right: 20px;
            background-clip: text;
            text-fill-color: transparent;
            background-color: $btn-color;
        }
    }

}

/*ADAPTATION HOME PAGE SUR DESKTOP*/
@media all and (min-width: 1024px)
{
    .tuto {
        &__steps {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    .card {
        width: 50%;
        max-width: 400px;
    }
    .restaurants {
        &__cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }
    }

}
