/*Mise en forme Section Menu & Titre*/
.container-menu {
    background-color: $secondary-background-color;
    border-radius: 30px 30px 0px 0px;
    padding: 30px 30px 10px 30px;
    margin-top:-60px;
    position: relative;
}

.container{
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
            /*Mise en forme coeur & animation coeur*/
            .fa-heart {
            position: absolute;
            right: 30px;
            cursor: pointer;
            font-size: 30px;
            }
            .fa-solid  {
            @include anim-heart
            }
    }
}

/*Mise en forme Section détails Menu*/
.menu {
    &__header {
        text-transform: uppercase;
        padding: 20px 0px 20px 0px;
        position: relative;
        /*Surlignage vert*/
        ::after {
            content: "";
            width: 50px;
            height: 4px;
            background-color: #99e2d0;
            position: absolute;
            left: 0px;
            bottom: 10px;
        }
    }
    /*Mise en forme des plats*/
    &__item {
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        min-height: 60px;
        margin-bottom: 10px;
        box-shadow: $card-shadow;
        cursor: pointer;
        animation: itemsappear 1s both;
    }
/*Apparition des plats l'un après l'autre*/
.delay {
    @for $i from 1 through 10 {
        &-#{$i} {
            animation-delay: 0.15s * $i;
        }
    }
}
    /*Mise en forme de l'icône de Check*/
    &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        min-width: 65px;
        background-color: $tertiary-color;
        border-radius: 0px 10px 10px 0px;
        margin-right: -70px;
        transition: all 500ms;
        .fa-check {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-color: white ;
            color: $tertiary-color;
            display:flex;
            justify-content:center;
            align-items: center;
            transform: rotate(-270deg);
            transition: transform 500ms 100ms;
        }
}
    /*Animation du Check*/
    &__item {
        overflow: hidden; /*Pour cacher le check qui dépasse sur la marge à droite*/
        /*Animation apparition encart vert*/
        &:hover .menu__check {
            margin-right: 0;
          }
        /*Rotation du check*/
        &:hover .fa-check {
            transform: rotate(0deg);
          }  
    }
    
    &__text, &__title, &__desc {
        white-space: nowrap; /*pas de retour à la ligne du texte*/
        overflow: hidden; /*Cache le texte qui depasse*/
        text-overflow: ellipsis; /*Rajoute "..." */
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px 10px 10px;
        width: 90%;
    }
    &__price {
        margin: 0px 10px 10px 10px;
    }

    &__command {
        text-align: center;
        margin: 50px;
    }
 
}
