.container-menu {
    background-color: $secondary-background-color;
    border-radius: 30px 30px 0px 0px;
    padding: 30px 30px 10px 30px;
    margin-top:-60px;
    position: relative;
}

.container{
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fa-heart {
        position: absolute;
        cursor: pointer;
        right: 30px;
        font-size: 30px;
        }
        .fa-solid  {
        @include anim-heart
        }
    }
}


.menu {
    &__header {
        text-transform: uppercase;
        padding: 20px 0px 20px 0px;
        position: relative;
        ::after {
            content: "";
            width: 50px;
            height: 4px;
            background-color: #99e2d0;
            position: absolute;
            left: 0px;
            bottom: 10px;
        }
    }
    &__item {
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        min-height: 60px;
        margin-bottom: 10px;
        box-shadow: $card-shadow;
        cursor: pointer;
        animation: itemsappear 1s both;
    }
/*Apparition des plats l'un après l'autre*/
.delay-1 {
    animation-delay: 0s;
}
.delay-2 {
    animation-delay: 0.15s;
}  
.delay-3 {
    animation-delay: 0.3s;
}
.delay-4 {
    animation-delay: 0.45s;
}
.delay-5 {
    animation-delay: 0.6s;
}
.delay-6 {
    animation-delay: 0.75s;
}
.delay-7 {
    animation-delay: 0.9s;
}
.delay-8 {
    animation-delay: 1.05s;
}
.delay-9 {
    animation-delay: 1.2s;
}
.delay-10 {
    animation-delay: 1.35s;
}

    &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        min-width: 65px;
        background-color: $tertiary-color;
        border-radius: 0px 10px 10px 0px;
        margin-right: -70px;
        transition: all 500ms;
    .fa-check {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: white ;
        color: $tertiary-color;
        display:flex;
        justify-content:center;
        align-items: center;
        transform: rotate(-270deg);
        transition: transform 500ms 100ms;
    }
}
    &__item {
        /*Pour cacher le check qui dépasse*/
        overflow: hidden; 
        /*Apparition encart vert*/
        &:hover .menu__check {
            margin-right: 0;
          }
        /*Rotation du check*/
        &:hover .fa-check {
            transform: rotate(0deg);
          }  
    }
    
    &__text, &__title, &__desc {
        white-space: nowrap; /*Met tout le texte sur une même ligne*/
        overflow: hidden; /*Cache le texte qui depasse*/
        text-overflow: ellipsis; /*Rajoute "..." */
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px 10px 10px;
        width: 90%;
    }
    &__price {
        margin: 0px 10px 10px 10px;
    }

    &__command {
        text-align: center;
        margin: 50px;
    }
 
}
