/*Apparition du menu*/
@keyframes itemsappear {
    0% {
        transform: scale(0);
      }
    100% {
        transform: scale(1);
      }
}

/*Apparition page loader*/
@keyframes loader {
  0% {
      opacity: 0.9;
      z-index:1;
  }
  95% {
      opacity: 0.9;
      z-index:1;
  }
  100% {
      opacity: 0;
      z-index: -1; /*Nécessaire pour que la page Home soit clickable*/
  }
}

/*Animation spinner*/
@keyframes duts {
  0% {
      transform: translateY(-100%);
  }
  50% {
      transform: translateY(0%);
  }
  100% {
      transform: translateY(-100%);
  }   
}