@mixin btn-hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: $btn-shadowy;
}

@mixin anim-heart {
        background-image: $btn-color;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        z-index: 1;
        transition-duration: 500ms;
            &:hover {
                opacity: 1;
            }
}

