$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;
$primary-background-color : #eeeded;
$secondary-background-color : #f8f7f7;
$tertiary-background-color : #353535;
$btn-color : linear-gradient(to bottom right, $secondary-color,$primary-color);
$badge-background-color : rgb(150, 193, 165);
$badge-color : green;
$btn-shadow : 0px 2px 10px rgb(179, 179, 179);
$btn-shadowy : 0px 2px 30px rgb(179, 179, 179);
$card-shadow : 0px 0px 15px #0000002e;